<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Home</title>
    <meta name="description" content="Slackboit" />
    <meta name="author" content="Slackboiteth" />
    <base href="../static/" />
    <link rel="stylesheet" href="templates/home/css/styles.css" />
  </head>

  <body>
    <div id="app" style="background:url(imgs/slackboit_original.png)">
      <div class="content">
        <img alt="" height="200" src="imgs/my-brain-is-abstract.png" />
        <button onclick="reboot()">Reboot the Boit</button>
        <div id="status"></div>
      </div>
    </div>
    <script src="templates/home/js/scripts.js"></script>
  </body>
</html>
